<nav xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
    <div style="background:#007bff; padding:10px;">
        <a th:href="@{/home}" style="color:white; margin-right:20px;">Home</a>
        <a th:href="@{/motos}" style="color:white; margin-right:20px;">Motos</a>
        <a th:href="@{/sensores}" style="color:white; margin-right:20px;">Sensores</a>
        <a th:href="@{/alocacoes}" style="color:white; margin-right:20px;">Alocações</a>
        <a th:href="@{/manutencoes}" style="color:white; margin-right:20px;">Manutenções</a>
        <a th:href="@{/logout}" style="color:white;">Logout</a>
    </div>
</nav>
